<section class="bg-primary" id="barrio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="section-heading">Qué barrio queremos</h2>
                <h3>Lo que los vecinos de Vallekas queremos.</h3>
                <hr class="light">
                <p class="text-faded">Siguiendo procesos equiparables a los que históricamente han reclamado actuaciones que equiparasen su nivel de calidad de vida con la de las zonas más céntricas, muchos ciudadanos de estos barrios comienzan a pedir al Ayuntamiento un modelo de movilidad más sostenible en las afueras de la ciudad. Queremos que llegue BiciMad, queremos Zonas 30, queremos un mejor transporte público. Pero, ¿qué ocurre cuando tu propio Distrito está decidido a crear infraestructuras que atacan directamente el modelo de movilidad sostenible que una gran mayoría queremos para Madrid?</p>
                <h3>El potencial ciclista de Vallekas</h3>
                <p class="text-faded">En Vallekas existe un enorme potencial ciclista. Tanto la composición demográfica y socio-económica del barrio -población aún joven, que no tiene un nivel adquisitivo que garantice un fácil acceso al vehículo privado a motor- y su trama urbana -plagada de calles tranquilas y comercio de proximidad- presentan un panorama propicio para animarse a utilizar la bicicleta. Y es que el gran impedimento al despegue definitivo de la bicicleta en el Distrito no es la orografía, sino la supremacía del coche.</p>
                <h3>Un barrio para pasear</h3>
                <p class="text-faded">El casco antiguo de Puente de Vallecas está formado por calles pequeñas y tranquilas, donde debería ser posible y agradable pasear. Pero desgraciadamente sobran los ejemplos de vías con varios carriles y filas de aparcamiento en las cuales las aceras quedan reducidas a “aceras de fila india”.</p>
            </div>
        </div>
    </div>
</section>
