<section id="espacio-publico">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="section-heading">Espacio público perdido</h2>
                <h3>6000 m<sup>2</sup>menos de espacio público y vecinal.</h3>
                <hr class="primary" style="margin-left: 0px;">
                <p>6000 m<sup>2</sup> de espacio público y peatonal en el corazón del barrio han sido robados a los vecinos en beneficio del vehículo privado y contaminante.</p>
                <p>El Ayuntamiento presume de haber recuperado 5000 m<sup>2</sup> de espacio peatonal en Gran Vía, mientras que en Vallekas nos acaban de quitado 6000 m<sup>2</sup>. Esto no concuerda con la política de movilidad, de calidad del aire ni de recuperación de los espacios públicos y vecinales que Ahora Madrid  ha prometido y que en teoría está llevando a cabo.</p>
                <p>En palabras de la alcaldesa Manuela Carmena,”es insostenible que los vehículos privados copen el 80% del espacio público cuando solo el 29% de los desplazamientos se hacen por este sistema”.  Nos preguntamos entonces, ¿por qué el Ayuntamiento le ha cedido una vez más espacio público al coche?</p>
            </div>
        </div>
    </div>
</section>
