<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="containter text-center">
                <div class="row">
                    <h1 class="col-md-8 col-md-offset-2">No al Parking de Buenos Aires</h1>
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    <p>Vallekas de las personas, no de los coches</p>
                </div>
                <div class="row">
                    <a href="#claves" class="btn btn-primary btn-xl page-scroll">Saber más</a>
                </div>
            </div>
        </div>
    </div>
</header>
