<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-car wow bounceIn text-primary"></i>
                    <h3>Más coches</h3>
                    <p class="text-muted">La construcción del parking es una medida que favorece el uso del vehículo privado contaminante y  conllevará más coches circulando en el barrio.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Peor aire</h3>
                    <p class="text-muted">En España mueren 31.000 personas al año por contaminación atmosférica. Esta medida sólo agrava el serio problema de aire que tiene Madrid.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-volume-up wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Más ruido</h3>
                    <p class="text-muted">Los coches que atraerá el parking generarán niveles de ruido perjudiciales para la salud y harán del barrio un sitio menos agradable para pasear.</p>
                </div><br/>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Menos espacio peatonal</h3>
                    <p class="text-muted">Se han robado 6000 m<sup>2</sup> de espacio público para regalárselo a coches.
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tree wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>¿Por qué no un parque?</h3>
                    <p class="text-muted">Se podría haber utilizado el espacio para crear un lugar que pudiesen disfrutar todos los vecinos, como un parque, una plaza o unas canchas deportivas.

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Vallekas espacio vecinal</h3>
                    <p class="text-muted">Esta medida va en contra de los planes prometidos por el Ayuntamiento. Madrid no es sólo el centro.</p>
</p>
                </div>
            </div>
        </div>
    </div>
</section>
